
.message{
    width:90% !important;
}
.main-container{
    max-width: 2000px;
    margin: 0 auto;
    justify-content: center;

}

/**************** table css ***************/
body {
    font-family: "lato", sans-serif;
  }
  
  .container-table {
    
    margin: 0 auto;
    width: 90%;
  
  }
  
  h2.head{
    color: rgb(77, 73, 97);
    font-size: 26px;
    margin: 25px 0 20px;
    text-align: center;
  }
  
  .responsive-table{
    padding: 0%;
  }
  
  .responsive-table li {
    border-radius: 3px;
    padding: 20px 25px;
    display: flex;
    
    margin-bottom: 25px;
  }
  .responsive-table .table-header {
    background-color: rgba(77, 73, 97, 0.623);
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .responsive-table .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    font-size: 18px;
  }
  .responsive-table .column-1 {
    flex-basis: 10%;
  }
  .responsive-table .column-2 {
    flex-basis: 33%;
  }
  .responsive-table .column-3 {
    flex-basis: 33%;
  }
  .responsive-table .column-4 {
    flex-basis: 20%;
  }
  .responsive-table .column-5 {
    flex-basis: 2.5%;
  
  }
  
  
  .column button.btn{
    background-color: rgba(77, 73, 97, 0.822) !important;
    color: rgb(255, 255, 255) !important;
    margin-top: -3px;
    
  }
  
  .column button.btn:hover{
    background-color:  rgb(173, 123, 23) !important   ;
  }
  form.del-form{
    margin: 0%;
    padding: 0%;
  }
  @media all and (max-width: 767px) {
  
    .responsive-table .table-header {
      display: none;
    }
    .responsive-table li {
      display: block;
      
    }
    .responsive-table .column {
      flex-basis: 100%;
    }
    .responsive-table .column {
      display: flex;
      padding: 10px 0;
    }
    .responsive-table .column:before {
      color: #6c7a89;
      padding-right: 10px;
      content: attr(data-label);
      flex-basis: 50%;
      text-align: right;
    }
    .responsive-table:lang(ar) .column:before {
      padding-left: 10px;
      text-align: left;
    }
  }
  @media all and (max-width: 1200px) {
    .responsive-table .table-row {
    font-size: 16px;
    }
  }


  /* ********* Buttons ******** */

  .column-5 button.confirm{
    background-color: rgba(13, 98, 168, 0.788) !important;
    color: rgb(255, 255, 255) !important;
    margin-top: -3px;
    margin-right: 2px;
  }
  .column-5 button.confirm:hover{
    background-color: rgb(13, 98, 168) !important;
  
  }
  .column-6 button.refuse{
    background-color: rgba(168, 13, 13, 0.788) !important;
    color: rgb(255, 255, 255) !important;
    margin-top: -3px;
    margin-right: 2px;
  }
  .column-6 button.refuse:hover{
    background-color: rgb(168, 13, 13) !important;
  
  }
  form.del-form{
    margin: 0%;
    padding: 0%;
  }